aiohttp
beautifulsoup4
git+git://github.com/google/chatbase-python.git
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
youtube-dl
olefile
git+git://github.com/prgofficial/YouTubeDL.git
Flask
gunicorn==20.1.0
aiohttp==3.8.2
pip==23.2.1
